<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RabbitMQ.Host" value="rabbitmq" />
    <add key="RabbitMQ.Port" value="5672" />
    <add key="RabbitMQ.VHost" value="/zavabank" />
    <add key="RabbitMQ.User" value="zava_app" />
    <add key="RabbitMQ.Password" value="zava_pass" />
    <add key="RabbitMQ.FiledropExchange" value="filedrop.events" />
    <add key="RabbitMQ.DeadLetterExchange" value="zava.dlx" />
    <add key="Worker.PollIntervalMs" value="5000" />
    <add key="FileDrop.Path" value="/shared/filedrop" />
    <add key="FileDrop.ProcessedPath" value="/shared/filedrop/processed" />
    <add key="FileDrop.ErrorPath" value="/shared/filedrop/error" />
  </appSettings>
</configuration>
